.felt {
  background: red;
  background: url('../img/backgrounds/felt.png');
}

.red-felt {
  background: url('../img/backgrounds/redfelt.png');
}

.green-felt {
  background: url('../img/backgrounds/bg.png');
}

.wood {
  background: url('../img/backgrounds/wood.png');
}
