.base {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
/// Mixin to put items on a circle
/// [1] - Allows children to be absolutely positioned
/// [2] - Allows the mixin to be used on a list
/// [3] - In case box-sizing: border-box has been enabled
/// [4] - Allows any type of direct children to be targeted
///
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE
@mixin distribute-on-circle(
  $nb-items,
  $circle-size,
  $item-size,
  $oval: false,
  $class-for-IE: false
) {

  position: relative; /* 1 */
  // @if $oval {
  //   $circle-size: $circle-size / 2;
  // }

  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  width:  $circle-size / 2;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none; /* 2 */
  box-sizing: content-box; /* 3 */

  > * { /* 4 */
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size * 1.4;
    margin: -$half-item;
  }

  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        // transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
        $rand: (random(20) - 10);
        transform: rotate($rot * 1deg) translate($half-parent) rotate(90deg + $rand);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }

}

.circleContainer {
  @include distribute-on-circle(52, 420px, 70px, false, false);
  margin: 50px auto 0;
}

.ovalContainer {
  @include distribute-on-circle(52, 420px, 70px, true, false);
  margin: 50px auto 0;
}

.cardShownContainer {
  margin: auto;
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 20px;
  right: 0;
  width: 400px;
}

.flippedCard {
  margin: auto;
  top: 20px;
  left: 0;
  bottom: 20px;
  right: 0;
  width: 360px;
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

.footer {
  padding: 12px;
}
